:root {
  --color-primary: #004AAD;
  --color-secondary: #003375;
  --text-light: #fff;
  --text-dark: #001e46;
  --hover-color: #F9BD5B;
  --transparent: #c0e4fa63;
}

main {
  min-height: 100vh;
}

.blogs-heading-bold {
  background-color: var(--color-primary);
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Quicksand', sans-serif;
  color: var(--text-light);
  font-weight: bold;
}

.blog-details-and-sidebar {
  display: flex;
}

.blog-detailed {
  flex: 2;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-detailed p {
  font-family: 'Roboto', sans-serif;
  color: var(--text-dark);
  line-height: 1.5;
  max-width: 95%;
  text-align: justify;
  font-size: 1.2rem;
}

.blogs-section-sidebar {
  font-family: 'Poppins', sans-serif;
  /* background-color: var(--color-secondary); */
  color: var(--text-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100vh;
  position: sticky;
  top: 0;
}

.blogs-section-sidebar h1 {
  font-size: 2rem;
}

.blogs-section-sidebar ul {
  list-style: none;
  border: 2px dashed var(--text-dark);
  width: 50%;
  text-align: center;
  padding: 1rem 0rem;
}

.blogs-section-sidebar a {
  margin: 0.6rem 0rem;
  display: block;
  text-decoration: none;
  color: var(--text-dark);
  font-weight: bold;
}

.blogs-section-sidebar a:hover {
  text-decoration: underline;
}

@media (max-width:500px) {
  .blog-details-and-sidebar {
    flex-direction: column;
  }

  .blog-details-and-sidebar p {
    max-width: 100%;
  }
}