* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #004AAD;
  --color-secondary: #003375;
  --text-light: #fff;
  --text-dark: #001e46;
  --hover-color: #F9BD5B;
  --transparent: #c0e4fa63;
}

.primary-footer {
  background-color: var(--color-primary);
  min-height: 30vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  color: var(--text-light);
  padding-bottom: 1rem;
}

.footer-logo {
  font-family: 'Poppins', sans-serif;
  color: var(--text-light);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.footer-logo h1 {
  text-align: center;
}

.footer-logo a {
  text-decoration: none;
  color: var(--text-light);
}

.footer-logo p {
  font-size: 0.8rem;
}

.secondary-footer {
  min-height: 7vh;
  background-color: var(--color-secondary);
  display: flex;
  font-family: 'Poppins', sans-serif;
  color: var(--text-light);
  justify-content: space-evenly;
  align-items: center;
}

.blog a {
  text-decoration: none;
  color: var(--text-light);
}

.secondary-footer h3 {
  font-size: 0.9rem;
  text-align: center;
  text-align: right;
}

.secondary-footer h3 a {
  color: var(--hover-color);
}

.footer-service {
  margin-bottom: 0.2rem;
}

.footer-services {
  position: relative;
}

.more-button {
  color: var(--text-light);
  text-decoration: none;
  border-radius: 0.2rem;
}

.more-button:hover {
  text-decoration: underline;
}

.footer-recent-news, .footer-service-section {
  margin-top: 1rem;
}

@media (max-width: 500px) {

  .footer-recent-news{
    margin-left: -2.7rem;
    margin-bottom: 1rem;
  }

  .primary-footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .secondary-footer {
    flex-direction: column;
  }

  ul {
    list-style: none;
  }

  .break {
    display: block;
    text-align: center;
  }
}