:root {
  --color-primary: #004AAD;
  --color-secondary: #003375;
  --text-light: #fff;
  --text-dark: #001e46;
  --hover-color: #F9BD5B;
  --transparent: #c0e4fa63;
}

main {
  min-height: 100vh;
}

.main-hero-section {
  min-height: 50vh;
  display: flex;
}

.left-side {
  background-color: var(--color-primary);
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  color: var(--text-light);
}

.sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--text-light);
  font-family: 'Poppins', sans-serif;
  font-size: 0.8rem;
  color: var(--text-dark);
  font-weight: bold;
}

.sidebar a {
  color: var(--text-dark);
  text-decoration: none;
  transition: color 0.5s ease-out;
}

.sidebar a:hover {
  color: var(--color-primary);
}

.connect-button {
  background-color: var(--color-secondary);
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  font-size: 0.8rem;
}

.main-hero-section p {
  max-width: 50%;
  text-align: justify;
  line-height: 1.4;
  margin: 0.7rem 0rem;
}

.hero-button {
  background-color: var(--text-light);
  padding: 0.5rem 1.5rem;
  border-radius: 0.3rem;
  text-decoration: none;
  color: var(--text-dark);
  font-weight: bold;
  transition: all 0.3s ease-out;
  font-size: 0.9rem;
}

.hero-button:hover {
  background-color: #004AAD;
  color: var(--text-light);
}

.swiper {
  max-width: 1300px;
  height: 300px;
}

.swiper-slide {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.slide1 {
  display: flex;
}

.image-and-name h3{
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  margin-top: 0.5rem;
  font-size: 0.9rem;
  font-weight: bold;
}

.tool1 .image, .tool2 .image, .tool3 .image, .tool4 .image, .tool5 .image, .tool6 .image,
.tool7 .image, .tool8 .image, .tool9 .image, .tool10 .image, .tool11 .image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

.tool1 .image {
  background-image: url('./assets/download.png');
}

.tool2 .image {
  background-image: url('./assets/58482945cef1014c0b5e49f8.png');
}

.tool3 .image {
  background-image: url('./assets/capium-squarelogo-1587476256283.png');
}

.tool4 .image {
  background-image: url('./assets/wave.png');
}

.tool5 .image {
  background-image: url('./assets/brightpay.png');
}

.tool6 .image {
  background-image: url('./assets/new-sage-logo.png');
}

.tool7 .image {
  background-image: url('./assets/nest.png');
}
.tool8 .image {
  background-image: url('./assets/The-Peoples-Pension-Logo.png');
  background-size: contain;
}
.tool9 .image {
  background-image: url('./assets/tax\ calc.png');
}
.tool10 .image {
  background-image: url('./assets/logo-moneysoft.png');
}
.tool11 .image {
  background-image: url('./assets/scottish.jpg');
  background-size: contain;
}

.swiper-button-prev, .swiper-button-next {
  color: var(--color-primary);
}

.light-blue-shade {
  background-color: var(--transparent);
  height: 100%;
  width: 100%;
  position: absolute;
  font-family: 'Poppins', sans-serif;
  color: var(--text-dark);
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainpage-services {
  min-height: 30vh;
  margin-top: 2rem;
}

.services-section h1 {
  text-align: center;
}

.mainpage-service-button {
  font-weight: bold;
  text-align: center;
  color: var(--text-dark);
  background-color: var(--text-light);
  text-decoration: none;
}

.mainpage-service-button:hover {
  text-decoration: underline;
}

.tools {
  min-height: 35vh;
  background-image: url('./assets/london.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

.testimonial-section {
  min-height: 35vh;
  position: relative;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  display: flex;
  gap: 2rem;
  max-width: 1300px;
  margin: auto;
}

.testimonial {
  background-color: var(--transparent);
  padding: 1rem 2rem;
}

.review {
  line-height: 1.5;
  text-align: justify;
}

.avatar-and-name {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  color: var(--text-dark);
}

.female {
  background-image: url('./assets/female.svg');
}

.avatar {
  background-image: url('/assets/male.svg');
}

.female, .avatar {
  width: 100px;
  height: 100px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.blogs-mainpage-section {
  min-height: 80vh;
  padding: 1rem;
}

.h1 {
  min-height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  color: var(--text-dark);
}

.row {
  display: flex;
  gap: 2rem;
}

.main-blog {
  position: relative;
  font-family: 'Quicksand', sans-serif;
  background-color: var(--color-primary);
  color: var(--text-light);
  transition: transform 0.4s ease-out;
  cursor: default;
}

.main-blog:hover {
  transform: scale(1.05);
}

.main-blog-button {
  padding: 0.5rem 0rem;
}

.main-blog a {
  background-color: var(--text-light);
  color: #001e46;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  font-weight: bold;
}

.main-blog-description-section {
  padding: 1rem;
}

.main-blog-description-section p {
  margin: 0.6rem 0rem;
}

.main-blog-image {
  background-image: url('./assets/markus-winkler-Ber3q-zEhd4-unsplash.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 200px;
}

.goto-blog-page-button {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.goto-blog-page-button a {
  color: var(--text-dark);
  text-decoration: none;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
}

.goto-blog-page-button a:hover {
  text-decoration: underline;
}

@media (max-width: 500px) {
  .main-hero-section {
    flex-direction: column;
  }

  .row {
    flex-direction: column;
  }

  .left-side {
    padding: 1rem;
  }

  .testimonial-section {
    margin-top: 1rem;
    flex-direction: column;
  }

  .left-side p {
    max-width: 100%;
    text-align: initial;
  }

  .sidebar {
    padding: 1rem;
    font-size: 0.6rem;
  }

  .swiper-slide .image {
    width: 100px;
    height: 100px;
  }
  
  .swiper-button-prev, .swiper-button-next {
    display: none;
  }

  .avatar-and-name {
    flex-direction: column;
  }

  .tool1 .image, .tool2 .image, .tool3 .image, .tool4 .image, .tool5 .image, .tool6 .image,
  .tool7 .image, .tool8 .image, .tool9 .image, .tool10 .image, .tool11 .image {
  width: 85px;
  height: 85px;
  }

  h3 {
    font-size: 0.5rem;
  }
}