:root {
  --color-primary: #004AAD;
  --color-secondary: #003375;
  --text-light: #fff;
  --text-dark: #001e46;
  --hover-color: #F9BD5B;
  --transparent: #c0e4fa63;
}

main {
  min-height: 100vh;
}

.main-hero-section {
  min-height: 50vh;
  display: flex;
}

.left-side {
  background-color: var(--color-secondary);
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  color: var(--text-light);
}

.sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--text-light);
  font-family: 'Poppins', sans-serif;
  font-size: 0.8rem;
  color: var(--text-dark);
  font-weight: bold;
}

.sidebar a {
  color: var(--text-dark);
  text-decoration: none;
  transition: color 0.5s ease-out;
}

.sidebar a:hover {
  color: var(--color-primary);
}

.connect-button {
  background-color: var(--color-secondary);
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  font-size: 0.8rem;
}

.main-hero-section p {
  max-width: 50%;
  text-align: justify;
  line-height: 1.4;
  margin: 0.7rem 0rem;
}

.hero-button {
  background-color: var(--text-light);
  padding: 0.5rem 1.5rem;
  border-radius: 0.3rem;
  text-decoration: none;
  color: var(--text-dark);
  font-weight: bold;
  transition: all 0.3s ease-out;
  font-size: 0.9rem;
}

.hero-button:hover {
  background-color: #004AAD;
  color: var(--text-light);
}

.swiper {
  max-width: 1300px;
  height: 300px;
}

.swiper-slide {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.slide1 {
  display: flex;
}

.image-and-name h3{
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  margin-top: 0.5rem;
  font-size: 0.9rem;
  font-weight: bold;
}

.swiper-slide .image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: url('./assets/quickbook.png');
  background-size: cover;
  background-position: center;
}

.swiper-button-prev, .swiper-button-next {
  color: var(--color-primary);
}

.light-blue-shade {
  background-color: var(--transparent);
  height: 100%;
  width: 100%;
  position: absolute;
  font-family: 'Poppins', sans-serif;
  color: var(--text-dark);
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainpage-services {
  min-height: 30vh;
  margin-top: 2rem;
}

.mainpage-service-button {
  font-weight: bold;
  text-align: center;
  color: var(--text-dark);
  background-color: var(--text-light);
  text-decoration: none;
}

.mainpage-service-button:hover {
  text-decoration: underline;
}

.tools {
  min-height: 35vh;
  background-image: url('./assets/london.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

@media (max-width: 500px) {
  .main-hero-section {
    flex-direction: column;
  }

  .left-side {
    padding: 1rem;
  }

  .left-side p {
    max-width: 100%;
    text-align: initial;
  }

  .sidebar {
    padding: 1rem;
    font-size: 0.7rem;
  }

  .swiper-slide .image {
    width: 100px;
    height: 100px;
  }
  
  .swiper-button-prev, .swiper-button-next {
    display: none;
  }
}